<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Page</title>
    <link rel="stylesheet" href="/contact.css" />
    <script type="text/javascript" src="/resource.js"></script>
  </head>
  <body>
    <div id="container">
      <button onclick="BackToHome()" class="return">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-arrow-left-square-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"
          />
        </svg>
      </button>
      <div class="page_title">Edit Contact</div>
      <div class="form_container">
        <form
          id="form"
          class="form"
          action="/edit/<%= user.id %>"
          method="post"
        >
          <label for="lastname">lastname:</label>
          <input
            type="text"
            name="lastname"
            id="lastname"
            class="lastname"
            value="<%= user.lastname %>"
            onfocus="showInstruction('lastname-info')"
            onblur="hideInstructions()"
          />
          <br />
          <br />
          <label for="firstname">firstname:</label>
          <input
            type="text"
            name="firstname"
            id="firstname"
            value="<%= user.firstname %>"
            onfocus="showInstruction('firstname-info')"
            onblur="hideInstructions()"
          />
          <br />
          <br />
          <label for="email">email:</label>
          <input
            type="text"
            name="email"
            id="email"
            value="<%= user.email %>"
            onfocus="showInstruction('email-info')"
            onblur="hideInstructions()"
          />
          <br />
          <br />
          <label for="phoneNumber">phoneNumber:</label>
          <input
            type="text"
            name="phoneNumber"
            id="phoneNumber"
            value="<%= user.phoneNumber %>"
            onfocus="showInstruction('phoneNumber-info')"
            onblur="hideInstructions()"
          />
          <br />
          <br />
          <label for="postalCode">Postal Code:</label>
          <input
            type="postalCode"
            name="postalCode"
            id="postalCode"
            value="<%= user.postalCode %>"
            onfocus="showInstruction('postal-code')"
            onblur="hideInstructions()"
          />
          <br />
          <br />
          <label for="city">city:</label>
          <input
            name="city"
            id="city"
            value="<%= user.city %>"
            onfocus="showInstruction('city-info')"
            onblur="hideInstructions()"
          />
          <br />
          <br />
          <label for="feedback">feedback:</label>
          <textarea
            name="feedback"
            id="feedback"
            cols="20"
            rows="5"
            value="<%= user.feedback %>"
            onfocus="showInstruction('feedback-info')"
            onblur="hideInstructions()"
            autocomplete="off"
          >
<%= user.feedback %>
          </textarea>
          <br /><br />
        </form>
        <div class="btn_group">
          <button id="submit" onclick="validateForm()">Submit</button>
        </div>
      </div>
      <div id="instructions">
        <p id="lastname-info" class="instruction">
          Lastname should not be null.
        </p>
        <p id="firstname-info" class="instruction">
          Firstname should not be null.
        </p>
        <p id="email-info" class="instruction">email should be valid.</p>
        <p id="phoneNumber-info" class="instruction">
          phoneNumber should be valid.
        </p>
        <p id="postal-code" class="instruction">PostalCode should be valid.</p>
        <p id="city-info" class="instruction">City should be valid.</p>
        <p id="feedback-info" class="instruction">feedback should be valid.</p>
      </div>
    </div>

    <script>
      const form = document.getElementById("form");

      function validateForm() {
        const NAME_REGEX = /^[a-zA-Z]+$/;

        let lastname = document.forms["form"]["lastname"].value;
        if (lastname == "") {
          alert("Lastname must be filled out");
          return;
        } else {
          let match = NAME_REGEX.test(lastname);
          if (!match) {
            alert("Invalid Lastname");
            return;
          }
        }
        let firstname = document.forms["form"]["firstname"].value;
        if (firstname == "") {
          alert("Firstname must be filled out");
          return;
        } else {
          let match = NAME_REGEX.test(firstname);
          if (!match) {
            alert("Invalid Firstname");
            return;
          }
        }
        let email = document.forms["form"]["email"].value;
        if (email == "") {
          alert("email must be filled out");
          return;
        } else {
          const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
          let match = emailRegex.test(email);
          if (!match) {
            alert("Invalid email");
            return;
          }
        }
        let phoneNumber = document.forms["form"]["phoneNumber"].value;
        if (phoneNumber == "") {
          alert("phoneNumber must be filled out");
          return;
        } else {
          const canadianPhoneRegex =
            /^(\+1)?[\s\-]?(\(?\d{3}\)?[\s\-]?)?\d{3}[\s\-]?\d{4}$/;
          let match = canadianPhoneRegex.test(phoneNumber);
          if (!match) {
            alert("Invalid phoneNumber");
            return;
          }
        }
        
        let postalCode = document.forms["form"]["postalCode"].value;
        if (postalCode == "") {
          alert("postalCode must be filled out");
          return;
        } else {
          var regex = /[A-Za-z]\d[A-Za-z] ?\d[A-Za-z]\d/;
          var match = regex.exec(postalCode);
          if (match) {
            if (
              (postalCode.indexOf("-") !== -1 ||
                postalCode.indexOf(" ") !== -1) &&
              postalCode.length == 7
            ) {
            } else if (
              (postalCode.indexOf("-") == -1 ||
                postalCode.indexOf(" ") == -1) &&
              postalCode.length == 6
            ) {
            }
          } else {
            alert("postalCode is not valid");
            return;
          }
        }
        let city = document.forms["form"]["city"].value;
        if (city == "") {
          alert("city must be filled out");
          return;
        } else {
          if (!/^[A-Za-z\s]+$/.test(city)) {
            alert("invalid city");
            return;
          }
        }
        let feedback = document.forms["form"]["feedback"].value;
        if (feedback == "") {
          alert("feedback must be filled out");
          return;
        }
        alert("finally,you can submit this form");

        form.submit();
      }

      function showInstruction(instructionId) {
        const instructions = document.querySelectorAll(".instruction");
        instructions.forEach((instruction) => {
          instruction.style.visibility = "hidden";
        });

        const activeInstruction = document.getElementById(instructionId);
        activeInstruction.style.visibility = "visible";
      }

      function hideInstructions() {
        const instructions = document.querySelectorAll(".instruction");
        instructions.forEach((instruction) => {
          instruction.style.visibility = "hidden";
        });
      }

      function BackToHome() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>
